.about-us {
  @include container-mob-padding;

  // @media (min-width: 768px) {
  //
  // }

  @media (min-width: 1150px) {
    box-sizing: border-box;
    padding-left: 175px;
  }
}

.about-us__list {
  @include listreset;

  @media (min-width: 768px) {
    column-count: 2;
  }

  // @media (min-width: 1150px) {
  //
  // }
}

.about-us__title {
  @include fontparams(25px, 30px, $black);
  font-weight: 700;
}

.about-us__list-item {
  @include fontparams(17px, 20px, $black);
  margin-top: 30px;
  padding-top: 40px;
  font-weight: 700;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: top left;
  height: 60px;

  @media (min-width: 768px) {
    flex-basis: 50%;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  // @media (min-width: 1150px) {
  // }
}

.about-us__list-text {
  @include resettext;

  @media (min-width: 768px) {
    width: 80%;
  }

  // @media (min-width: 1150px) {
  // }
}
