.catalog {
  @include container;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;


  // @media (min-width: 768px) {
  // }

  @media (min-width: 1150px) {
    flex-flow: row wrap;
  }
}
