.catalog {
  @include container;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

// @media (min-width: 768px) {
//   .catalog {
//
//   }
// }

@media (min-width: 1150px) {
  .catalog {
    flex-flow: row wrap;
  }
}
