.category-select__link-wrapper {
  @include container;
  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 768px) {
  .category-select__link-wrapper {
    flex-flow: row nowrap;
  }
}

// @media (min-width: 1150px) {
//   .category-select__link-wrapper {
//
//   }
// }

.category-select__link {
  @include fontparams(19px, 24px, $white);
  padding: 0 25px 0 30px;
  background: $teal;
  text-decoration: none;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;

  &--toys {
    background: $dteal;
  }
}

@media (min-width: 768px) {
  .category-select__link {
    flex-basis: 50%;
  }
}

// @media (min-width: 1150px) {
//   .category-select__link {
//
//   }
// }

.category-select__svg {
  //temp styles
  width: 65px;
  height: 65px;
  background: darken($dteal, 20%);
}

.category-select__link-text {
  white-space: pre-line;
}
