.header {
  width: 100%;
  background: $white;

}

@media (min-width: 769px) {
  .header {
    height: 90px;
    overflow: visible;
  }
}

// @media (min-width: 1151px) {
//   .header {
//   }
// }

.header__note {
  display: none;
  max-height: 0px;
  order: 6;
}

@media (min-width: 769px) {
  .header__note {
    display: flex;
    max-height: 0px;
  }
}

@media (min-width: 1151px) {
  .header__note {
    max-height: 0px;
  }
}
