.header-menu {
  @include listreset;
  background: none;
  display: flex;
  flex-flow: column nowrap;
  background: none;
}

  @media (min-width: 769px) {
    .header-menu {
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 768px;
      height: 120px;
      margin-bottom: -30px;
      margin: auto;
    }
  }

  @media (min-width: 1151px) {
    .header-menu {
      max-width: 1150px;
    }
  }

.header-menu__link {
  @include fontparams(17px, 24px, $black);
  font-weight: 700;
  text-decoration: none;
}

.header-menu__logo-n-button-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  order: 1;
}

  @media (min-width: 769px) {
    .header-menu__logo-n-button-wrapper {
      order: 1;
      justify-content: flex-start;
      flex-basis: 40%;
      height: 90px;
    }
  }

  @media (min-width: 1151px) {
    .header-menu__logo-n-button-wrapper {
      order: 2;
      height: 90px;
      flex-basis: 15%;
    }
  }


.header-menu__button {
  position: absolute;
  right: 0px;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: -40px;
}

  @media (min-width: 769px) {
    .header-menu__button {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  }

  @media (min-width: 1151px) {
    .header-menu__button {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  }

.header-menu__list-1, .header-menu__list-2, .header-menu__list-3 {
  @include listreset;
}

.header-menu__list-1 {
  order: 2;
}

  @media (min-width: 769px) {
    .header-menu__list-1 {
      order: 3;
      display: flex;
      flex-basis: 60%
    }
  }

  @media (min-width: 1151px) {
    .header-menu__list-1 {
      order: 1;
      flex-basis: 40%;
    }
  }

.header-menu__list-2 {
  order: 3;
}

  @media (min-width: 769px) {
    .header-menu__list-2 {
      order: 2;
      flex-basis: 60%;
      display: flex;
      height: 90px;
    }
  }

  @media (min-width: 1151px) {
    .header-menu__list-2 {
      order: 3;
      flex-basis: 40%;
    }
  }

.header-menu__list-3 {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  max-height: 0px;
  max-width: 0px;
  overflow: hidden;
  order: 5;
}

  @media (min-width: 769px) {
    .header-menu__list-3 {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  }

  @media (min-width: 1151px) {
    .header-menu__list-3 {
      clip-path: none;
      max-height: 1000px;
      max-width: 1000px;
      display: flex;
      flex-basis: 40%
    }
  }

.header-menu__free-delivery {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  max-height: 0px;
  overflow: hidden;
  order: 6;
}

  @media (min-width: 769px) {
    .header-menu__free-delivery {
      clip-path: none;
      max-height: 100px;
    }
  }

  @media (min-width: 1151px) {
    .header-menu__free-delivery {
      clip-path: none;
    }
  }


.header-menu__item {
  width: 100%;
}

.header-menu__link {
  display: block;
  width: 100%;
  text-align: center;
}
