.header-menu {
  @include listreset;
  background: none;
  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 768px) {
  .header-menu {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    // height: 120px;
    // margin-bottom: -30px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .header-menu {
    max-width: 1150px;
  }
}

.header-menu__logo-n-button-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  order: 1;
}

@media (min-width: 768px) {
  .header-menu__logo-n-button-wrapper {
    justify-content: flex-start;
    flex-basis: 40%;
    height: 90px;
  }
}

@media (min-width: 1150px) {
  .header-menu__logo-n-button-wrapper {
    order: 2;
    height: 90px;
    flex-basis: 15%;
  }
}


.header-menu__button {
  position: absolute;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .header-menu__button {
    display: none;
  }
}

// @media (min-width: 1150px) {
//   .header-menu__button {
//   }
// }

.header-menu__list {
  @include listreset;
}

.header-menu__nav-list {
  order: 2;
  max-height: 1000px;
}

@media (min-width: 768px) {
  .header-menu__nav-list {
    order: 3;
    display: flex;
    flex-basis: 60%;
    max-height: 0;
  }
}

@media (min-width: 1150px) {
  .header-menu__nav-list {
    order: 1;
    flex-basis: 40%;
    max-height: 1000px;
  }
}

.header-menu__service-list {
  order: 3;
}

@media (min-width: 768px) {
  .header-menu__service-list {
    order: 2;
    flex-basis: 60%;
    display: flex;
    height: 90px;
  }
}

@media (min-width: 1150px) {
  .header-menu__service-list {
    order: 3;
    flex-basis: 40%;
    max-height: 0;
  }
}

.header-menu__promo-list {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  order: 5;
}

@media (min-width: 768px) {
  .header-menu__promo-list {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@media (min-width: 1150px) {
  .header-menu__promo-list {
    clip-path: none;
    max-height: 1000px;
    max-width: 1000px;
    display: flex;
    flex-basis: 40%;
  }
}

.header-menu__item {
  width: 100%;
}

.header-menu__link {
  @include fontparams(17px, 24px, $black);
  font-weight: 700;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}
