.index-weekly-offer__main-title {
  @include fontparams(25px, 30px, $black, 'Open Sans Bold');
}

.index-weekly-offer__subtitle {
  @include fontparams(17px, 20px, $teal, $ttransform: uppercase);
}

.index-weekly-offer__text, .index-weekly-offer__info-table {
  @include fontparams(15px, 24px, $black);
}

.index-weekly-offer__price-text {
  @include fontparams(17px, 24px, $black, 'Open Sans Bold');
}

.index-weekly-offer__order-link {
  @include fontparams(17px, 20px, $black, 'Open Sans Bold', uppercase);
  text-decoration: none;
}
