.logo {
  // mock style
  background: $black;
  height: 70px;
  width: 150px;
  //temporary fix for mobile clickability
  overflow: hidden;
}

@media (min-width: 769px) {
  .logo {
    // mock style
    background: lighten($black, 30%);
  }
}

@media (min-width: 1150px) {
  .logo {
    // mock style
    background: lighten($black, 50%);
  }
}

.logo__image {
  height: 100%;
}

.logo__link {
  display: block;
  height: 100%;
}
