body {
  @include font;
  background: $white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .category-select__link-wrapper {
      width: 1150px;
  }
}
