@mixin fontparams(
$size,
$lineheight,
$color: $black,
$ttransform: null) {
  font-size: $size;
  line-height: $lineheight;
  color: $color;
  text-transform: $ttransform;
}

@mixin listreset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin font {
  font-family: "Open Sans", Arial, sans-serif;
}
