@import "variables";
@import "mixins";
@import "global";
@import "fonts";

//blocks
@import "blocks/about-us";
@import "blocks/catalog";
@import "blocks/catalog-item";
@import "blocks/category-select";
@import "blocks/footer";
@import "blocks/header-menu";
@import "blocks/header";
@import "blocks/weekly-offer";
@import "blocks/page-title";
